
#mlg-start-screen {
    -fx-background-color: #2a2a2a;
    -fx-padding: 15px;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 15, 0.5, 0, 0);
}

.mlg-config-screen {
    -fx-background-color: #2a2a2a;
}

.mlg-progress-box {
    -fx-background-color: rgba(42,42,42,0.7);
}

.mlg-config-vbox {
    -fx-spacing: 12;
    -fx-max-width: 300;
}